@import "../../../styles/variables.scss";

.container {
  position: relative;
  display: inline-block;
  width: 184px;
  @media (min-width: $breakpoint-tablet) {
    width: 220px;
  }
}

.selected,
.options {
  height: fit-content;
  border-radius: 20px;
  border: 1px solid var(--accent-type-color);
  background-color: var(--accent-color);
}

.selected {
  width: 100%;
  height: 35px;
  cursor: pointer;
  @media (min-width: $breakpoint-tablet) {
    height: 40px;
  }
}

.options {
  list-style-type: none;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.option {
  padding: 6px;
  cursor: pointer;
  position: relative;

  button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    span {
      text-align: left;
      padding: 0 20px;
    }
  }
}

.icon,
.chevron {
  position: absolute;
  pointer-events: none;
}

.icon {
  left: 10px;
  top: 28%;
}

.chevron {
  right: 10px;
  top: 40%;
}

.hover,
.selected {
  // background-color: #f0f0f0;
}
