---
import styles from "./styles.module.scss";
import { getCurrentLocale, useTranslations } from "@i18n/utils";
import LinkButton from "@components/LinkButton/index.astro";
import SketchThumb from "./SketchThumb.astro";

interface Props {
  referenceHeaderText: string;
  examplesHeaderText: string;
}

const { referenceHeaderText, examplesHeaderText } = Astro.props;

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<div class={"ref-and-example-wrapper"}>
  <div class={"section"}>
    <h2>{referenceHeaderText}</h2>
    <LinkButton variant="link" url="/reference">{t("Reference")}</LinkButton>
  </div>
  <div class={"section"}>
    <h2>{examplesHeaderText}</h2>
    <LinkButton variant="link" url="/examples">{t("Examples")}</LinkButton>
  </div>
  <SketchThumb number={1} class={"sketch"} />
  <SketchThumb number={2} class={"sketch"} />
</div>

<style lang="scss">
  @import "../../../styles/variables.scss";

  .ref-and-example-wrapper {
    display: grid;
    grid-template-areas:
      "a a c"
      "d b b";
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 40px;

    @media (max-width: $breakpoint-tablet) {
      grid-template-areas:
        "a a"
        "b b"
        "c d";
    }

    .section:nth-child(1) {
      grid-area: a;
    }

    .section:nth-child(2) {
      grid-area: b;
    }

    .sketch:nth-child(1) {
      grid-area: c;
    }

    .sketch:nth-child(2) {
      grid-area: d;
    }
  }
</style>
