@import "../../../styles/variables.scss";

.ref-and-example-wrapper {
  display: grid;
  grid-template-areas:
    "a a a c"
    "d b b b";
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 40px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-areas:
      "a a"
      "b b"
      "c d";
  }

  .section:nth-child(1) {
    grid-area: a;
  }

  .section:nth-child(2) {
    grid-area: b;
  }

  .sketch:nth-child(1) {
    grid-area: c;
  }

  .sketch:nth-child(2) {
    grid-area: d;
  }
}
