---
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  exampleContentSlugToLegacyWebsiteSlug,
  getCollectionInNonDefaultLocales,
  splitLocaleFromPath,
} from "@pages/_utils";
import { getExampleCode } from "@pages/_utils-node";

export async function getStaticPaths() {
  const examples = await getCollectionInNonDefaultLocales("examples");
  return await Promise.all(
    examples.map(async (example) => {
      const code = await getExampleCode(example.id);
      const [locale, slug] = splitLocaleFromPath(example.slug);
      return {
        params: { locale, slug: exampleContentSlugToLegacyWebsiteSlug(slug) },
        props: { example, code },
      };
    })
  );
}

const { example, code } = Astro.props;
const { Content } = await example.render();
---

<BaseLayout title={example.data.title}>
  <p>{example.data.arialabel}</p>
  <Content />
  <pre>{code}</pre>
</BaseLayout>
