---
import { nonDefaultSupportedLocales } from "@/const";
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  exampleContentSlugToLegacyWebsiteSlug,
  getCollectionInLocaleWithFallbacks,
  removeLocalePrefix,
} from "@pages/_utils";
import { getExampleCode } from "@pages/_utils-node";

export async function getStaticPaths() {
  const entries = await Promise.all(
    nonDefaultSupportedLocales.map(async (locale) => {
      const localeEntries = await getCollectionInLocaleWithFallbacks(
        "examples",
        locale
      );
      return await Promise.all(
        localeEntries.map(async (entry) => {
          const code = await getExampleCode(entry.id);
          const slug = exampleContentSlugToLegacyWebsiteSlug(
            removeLocalePrefix(entry.slug)
          );
          return {
            params: {
              locale,
              slug,
            },
            props: { entry, code },
          };
        })
      );
    })
  );

  return entries.flat();
}

const { entry, code } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <p>{entry.data.arialabel}</p>
  <Content />
  <pre>{code}</pre>
</BaseLayout>
