---
interface Props {
  href: string
  selected?: boolean
}
const { href, selected = false } = Astro.props;
---

<a href={href} class={`rounded-button ${selected ? 'selected' : ''}`}>
  <slot />
</a>

<style lang="scss">
  .rounded-button {
    display: inline-block;
    margin: var(--spacing-md);
    margin-left: 0;
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 1px solid var(--type-black);
    color: var(--type-black);
    border-radius: 999px;
  }
  .rounded-button.selected {
    color: var(--type-black);
    background: var(--accent-color);
  }
</style>
