---
import styles from "./styles.module.scss";
---

<!-- module is used for styling the many different possible child elements in the tutorial content -->
<div class={`content-grid ${styles.container}`} }>
  <div class="col-span-9">
    <slot />
  </div>
</div>
