.container {
  ol {
    list-style-type: decimal;
    padding-left: var(--spacing-sm);
  }

  ul {
    padding-left: var(--spacing-sm);
  }

  ul > li {
    list-style-type: disc;
  }

  li {
    padding: var(--spacing-xxs) 0 var(--spacing-xxs) var(--spacing-sm);
  }

  h2,
  h3 {
    margin-bottom: var(--spacing-md);
  }

  img {
    margin: var(--spacing-md) 0;
  }

  a {
    color: var(--logo-color);
  }

  hr {
    margin: var(--spacing-lg) 0;
  }
}
