---
import { getPaginationMax } from "@/src/pages/_utils";
import CircleButton from "../CircleButton";

interface Props {
  maxNumItems: number;
  itemsPerPage: number;
  sectionUrlPrefix: string;
  currentPage: number;
}

const { maxNumItems, itemsPerPage, sectionUrlPrefix, currentPage } =
  Astro.props;

const numPages = getPaginationMax(itemsPerPage, maxNumItems);
---

{
  numPages > 1 && (
    <ul class="flex gap-xs my-sm">
      {Array.from({ length: numPages }).map((_, i) => (
        <li>
          <CircleButton
            ariaLabel={`Go to page ${i + 1}`}
            href={`${sectionUrlPrefix}/page/${i + 1}`}
            className={`${currentPage === i + 1 && "text-sidebar-bg-color bg-sidebar-type-color"} text-2xl md:text-3xl border border-sidebar-type-color w-[40px] h-[40px] md:w-[50px] md:h-[50px] flex items-center justify-center`}
          >
            <span>{i + 1}</span>
          </CircleButton>
        </li>
      ))}
    </ul>
  )
}
