---
import CodeContainerWithCopy from "../CodeContainer/CodeContainerWithCopy.astro";
---

<div>
  <CodeContainerWithCopy>
    <pre
      class="[&_code]:p-0 [&_code]:bg-transparent [&_span]:!text-sidebar-type-color"><slot /></pre>
  </CodeContainerWithCopy>
</div>
