---
import CodeContainerWithCopy from "../CodeContainer/CodeContainerWithCopy.astro";
---

<div>
  <CodeContainerWithCopy darkTheme>
    <pre class="[&_code]:p-0 [&_code]:bg-transparent"><slot /></pre>
  </CodeContainerWithCopy>
</div>
