---
import Image from "@components/Image/index.astro";

interface Props {
  name: string;
  featuredImage: any;
  featuredImageAlt: string;
}

const { name, featuredImage, featuredImageAlt } = Astro.props;
const authorHTML = (await Astro.slots.render("author")).replace(/\<p[^\>]*\>/gm, "");

---
<li class="col-span-3">
  <Image
    src={featuredImage.default}
    alt={featuredImageAlt}
    width="440"
  />
  <div class="text-xl mt-xs text-wrap break-words break-keep">
    {name}
  </div>
  <div class="rendered-markdown">
    <div class="text-sm">
      <div set:html={authorHTML} />
      <slot name="description" />
    </div>
    <div class="text-sm leading-8 [&_a]:whitespace-nowrap [&_a]:rounded-full [&_a]:mr-1 [&_a]:py-1 [&_a]:px-2 [&_a]:outline [&_a]:outline-1 [&_a]:outline-[var(--type-magenta-dark)]">
      <slot name="materials" />
    </div>
  </div>
</li>
