---
import Image from "@components/Image/index.astro";

interface Props {
  name: string;
  featuredImage: any;
  featuredImageAlt: string;
}

const { name, featuredImage, featuredImageAlt } = Astro.props;

---
<li>
  <Image
    src={featuredImage.default}
    alt={featuredImageAlt}
    width="400"
    class="w-3/5"
  />
  <div class="text-xl mt-xs text-wrap break-words break-keep">
    {name}
  </div>
  <div class="rendered-markdown">
    <div class="text-sm">
      <slot name="description" />
    </div>
    <div class="text-sm">
      <slot name="materials" />
    </div>
  </div>
</li>
