---
import { rewriteRelativeLink } from "@pages/_utils-node";
const rawProps = Astro.props;
const props = { ...rawProps };
if (props.href) {
  props.href = rewriteRelativeLink(props.href);
}
---

<a {...props}><slot /></a>
