---
import { Icon } from "../Icon";
interface Props {
  variant?: "link" | "code" | "bare";
  url: string;
  class?: string;
}

const { variant = "bare", url } = Astro.props;
---

<a
  class={"outline py-2 px-4 flex flex-nowrap w-fit items-center rounded-full hover:bg-sidebar-type-color hover:text-sidebar-bg-color hover:no-underline " +
    Astro.props.class}
  href={url}
>
  <span class="mr-2">
    <slot />
  </span>
  {
    variant !== "bare" ? (
      <Icon
        className="ml-auto"
        kind={variant === "link" ? "arrow" : "code-brackets"}
      />
    ) : null
  }
</a>
