---
import { Icon } from "../Icon";
interface Props {
  variant?: "link" | "code" | "bare";
  url: string;
  class?: string;
}

const { variant = "bare", url } = Astro.props;
---

<a
  class={"outline py-2 px-4 flex flex-nowrap w-fit items-center rounded-full" +
    Astro.props.class}
  href={url}
>
  <slot />
  {
    variant !== "bare" ? (
      <Icon
        className="ml-4"
        kind={variant === "link" ? "arrow" : "code-brackets"}
      />
    ) : null
  }
</a>
