---
import { Icon, type IconKind } from "../Icon";
interface Props {
  variant?: "link" | "code" | "download" | "bare";
  url: string;
  class?: string;
}

const { variant = "bare", url } = Astro.props;

let kind = "arrow" as IconKind;
switch (variant) {
  case "code":
    kind = "code-brackets";
    break;
  case "download":
    kind = "download";
    break;
}
---

<a
  class={"!text-sidebar-type-color outline outline-1 outline-type-color py-2 px-4 flex flex-nowrap w-fit items-center justify-between rounded-full hover:bg-sidebar-type-color hover:text-sidebar-bg-color hover:no-underline " +
    Astro.props.class}
  href={url}
>
  <span>
    <slot />
  </span>
  {variant !== "bare" ? <Icon className="ml-auto" kind={kind} /> : null}
</a>
