---
import { Icon, type IconKind } from "../Icon";
interface Props {
  variant?: "link" | "code" | "download" | "bare";
  url: string;
  class?: string;
}

const { variant = "bare", url, className = "" } = Astro.props;
---

<a
  class={"outline py-2 px-4 flex flex-nowrap w-fit items-center rounded-full" +
    " " +
    Astro.props.class}
  href={url}
>
  <span>
    <slot />
  </span>
  {variant !== "bare" ? <Icon className="ml-auto" kind={kind} /> : null}
</a>
