---
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  getCollectionInDefaultLocale,
  removeLocalePrefix,
} from "@pages/_utils";

export async function getStaticPaths() {
  // get all past events pages that are in the default locale
  const pastEvents = await getCollectionInDefaultLocale("past-events");
  return pastEvents.map((entry) => ({
    params: { slug: removeLocalePrefix(entry.slug) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  {
    entry.data.featuredImage ? (
      <img
        src={entry.data.featuredImage.url}
        alt={entry.data.featuredImage.altText}
      />
    ) : null
  }
  <Content />

  <h2>Related Past Events</h2>

  <ul>
    {/* TODO: make this into a proper link */}
    {entry.data.relatedPastEvents?.map((relEx) => <li>{relEx.slug}</li>)}
  </ul>
</BaseLayout>
