---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pastEvents = await getCollection("past-events");
  return pastEvents.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>

{
  entry.data.featuredImage ? (
    <img
      src={entry.data.featuredImage.url}
      alt={entry.data.featuredImage.altText}
    />
  ) : null
}

<Content />

## Related Past Events

<ul>
  {/* TODO: make this into a proper link */}
  {entry.data.relatedPastEvents?.map((relEx) => <li>{relEx.slug}</li>)}
</ul>
