---
import CodeContainer from "@components/CodeContainer/index.astro";
import { CopyCodeButton } from "../CopyCodeButton";
const toCopy = await Astro.slots.render("default");
---

<CodeContainer>
  <slot />
  <div class="absolute top-xs right-xs">
    <CopyCodeButton client:load textToCopy={toCopy} />
  </div>
</CodeContainer>
