---
const { title, subtitle } = Astro.props;

// The page header and filter by keyword are separated in the hierarchy but
// are intended to visually blend together. A bottom border should be added
// to the header only when the filter by keyword is not present.
const routesWithFilter = ["/reference"];
const isFilterRoute = routesWithFilter.some((route) =>
  Astro.url.pathname.includes(route)
);
const borderStyle = isFilterRoute ? "" : "border-b border-sidebar-type-color";
---

<div
  class=`grid grid-cols-2 lg:grid-cols-4 gap-x-gutter-sm md:gap-x-gutter-md min-h-[350px] h-[50vh] pt-5xl lg:pt-4xl bg-accent-color text-accent-type-color pb-md px-5 md:px-lg ${borderStyle}`
>
  <h1 class="whitespace-pre-line col-span-full mb-5">{title}</h1>
  <p class="text-h3 !mt-0 mb-3xl col-span-2">{subtitle}</p>
</div>
