---
const { title, subtitle } = Astro.props;
---

<div
  class="pt-5xl lg:pt-3xl bg-accent-color text-accent-type-color pb-md px-lg"
>
  <h1 class="whitespace-pre-line">{title}</h1>
  <p class="text-2xl mb-3xl">{subtitle}</p>
</div>
