@import "../../../../styles/variables.scss";

.wrapper {
  display: grid;
  grid-template-areas:
    "a a a b"
    "c d e e"
    ". . e e";
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(1fr);
  gap: 40px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-areas:
      "a a"
      "b c"
      "d ."
      "e e"
      "e e";
  }
}

.section {
  grid-area: a;
}
.sketch:nth-child(1) {
  display: grid;
  grid-area: b;
}
.sketch:nth-child(2) {
  display: grid;
  grid-area: c;
}
.sketch:nth-child(3) {
  display: grid;
  grid-area: d;
}
.sketch:nth-child(4) {
  display: grid;
  grid-area: e;
}
