---
import { removeLocaleAndExtension } from "@/src/pages/_utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"contributor-docs">;
}

const { item } = Astro.props;
---

<a
  class="group hover:no-underline"
  href={`/contribute/${removeLocaleAndExtension(item.slug)}`}
>
  <div class="grid place-content-center mt-xs bg-bg-blue h-32 p-4 mb-2">
    <span
      class="text-lg text-center align-middle line-clamp-3 text-pretty group-hover:underline"
    >
      {item.data.title}
    </span>
  </div>
  <p
    class="mt-xs text-body-caption text-ellipsis line-clamp-3 text-pretty break-words break-keep"
  >
    {item.data.description}
  </p>
</a>
