---
import { removeLocaleAndExtension } from "@/src/pages/_utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"contributor-docs">;
}

const { item } = Astro.props;
---

<a href={`/contribute/${removeLocaleAndExtension(item.slug)}`}>
  <div class="grid place-content-center mt-xs bg-bg-blue h-32 p-4 mb-2">
    <span class="text-lg text-center align-middle line-clamp-3 text-pretty">
      {item.data.title}
    </span>
  </div>
  <div class="text-sm text-ellipsis line-clamp-3 text-pretty">
    {item.data.description}
  </div>
</a>
