---
import Image from "@components/Image/index.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"people">;
}

const { item: person } = Astro.props;
---

<div class="grayscale">
  <Image
    src={person.data.image!}
    alt={person.data.imageAlt!}
    aspectRatio="square"
  />
</div>
<a
  class="text-body mt-xs"
  href={person.data.url}
  aria-label={`Link to ${person.data.name}'s personal website'`}
>
  {person.data.name}
</a>
<p class="text-body-caption mt-xxs">{person.data.role}</p>
