---
import { getCollection } from "astro:content";

const people = await getCollection("people");
import { HeaderBar } from "../components/HeaderBar";
---

<HeaderBar />

<h1>People</h1>

<ul>
  {
    people.map((person) => (
      <li>
        <img src={person.data.image.url} alt={person.data.image.altText} />
        {person.data.name}
      </li>
    ))
  }
</ul>
