---
import { getCollection } from "astro:content";
const people = await getCollection("people");
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="People">
  <ul>
    {
      people.map((person) => (
        <li>
          <img src={person.data.image.url} alt={person.data.image.altText} />
          {person.data.name}
        </li>
      ))
    }
  </ul>
</BaseLayout>
