---
import { getCurrentLocale } from "@/src/pages/_utils";

const currentLocale = getCurrentLocale(Astro.url.pathname);
---

<form action={`/${currentLocale}/search`} method="GET" role="search">
  <label for="search-term">Search</label>
  <input
    id="search-term"
    type="search"
    name="term"
    class="border border-black"
    aria-label="Search through site content"
    required
  />
  <button type="submit">Search</button>
</form>
