---
import { getCurrentLocale, useTranslations } from "@/src/i18n/utils";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<form
  action={`${currentLocale === "en" ? "" : `/${currentLocale}`}/search`}
  method="GET"
  role="search"
>
  <label for="search-term">{t("Search")}</label>
  <input
    id="search-term"
    type="search"
    name="term"
    class="border border-black"
    aria-label="Search through site content"
    required
  />
  <button type="submit">{t("Search")}</button>
</form>
