---
import { getCurrentLocale, getUiTranslator } from "@/src/i18n/utils";
import { Icon } from "../Icon";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);
---

<form
  action={`${currentLocale === "en" ? "" : `/${currentLocale}`}/search`}
  method="GET"
  role="search"
  class="relative w-full h-full text-accent-type-color bg-accent-color border-accent-type-color border rounded-[20px] !mx-0"
>
  <div class="absolute top-[6px] lg:top-[10px] left-[11px]">
    <Icon kind="search" />
  </div>
  <input
    id="search-term"
    type="search"
    placeholder={t("Search") as string}
    name="term"
    class="placeholder-accent-type-color bg-transparent pl-[40px] py-[6px] md:py-[4px] lg:py-[8px] w-full rounded-[20px] peer"
    aria-label="Search through site content"
    required
  />
  <button
    type="submit"
    aria-label="Submit search"
    class="invisible peer-valid:visible absolute pl-[22px] pr-[12px] right-0 top-0 py-[11px] lg:py-[13px]"
    ><Icon kind="search-submit" /></button
  >
</form>
