---
import { getCurrentLocale, useTranslations } from "@/src/i18n/utils";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<form
  action={`${currentLocale === "en" ? "" : `/${currentLocale}`}/search`}
  method="GET"
  role="search"
>
  <input
    id="search-term"
    type="search"
    placeholder={t("Search") as string}
    name="term"
    class="border border-black p-xxs"
    aria-label="Search through site content"
    required
  />
  <button type="submit">></button>
</form>
