---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import {
  getCollectionInNonDefaultLocales,
  splitLocaleFromPath,
} from "@pages/_utils";

export async function getStaticPaths() {
  const pastEvents = await getCollectionInNonDefaultLocales("past-events");
  return pastEvents.map((entry) => {
    const [locale, slug] = splitLocaleFromPath(entry.slug);
    return {
      params: { locale, slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  {
    entry.data.featuredImage ? (
      <img
        src={entry.data.featuredImage.url}
        alt={entry.data.featuredImage.altText}
      />
    ) : null
  }
  <Content />

  <h2>Related Past Events</h2>

  <ul>
    {/* TODO: make this into a proper link */}
    {entry.data.relatedPastEvents?.map((relEx) => <li>{relEx.slug}</li>)}
  </ul>
</BaseLayout>
