<script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
<!-- @ts-expect-error  -->
<div class="overflow-hidden mt-md pb-0 max-w-[420px] min-w-[250px]">
  <iframe
    src="https://donorbox.org/embed/back-to-school-805292?"
    name="donorbox"
    allowpaymentrequest="allowpaymentrequest"
    seamless="seamless"
    frameborder="0"
    scrolling="no"
    height="900px"
    width="100%"
    style="max-width: 500px; min-width: 250px; max-height:none!important"
    allow="payment">
  </iframe>
</div>
