<script src="https://donorbox.org/widget.js"></script>
<!-- @ts-expect-error  -->
<div>
  <iframe
    allowpaymentrequest=""
    height="525"
    width="100%"
    name="donorbox"
    src="https://donorbox.org/embed/support-the-processing-foundation?hide_donation_meter=true"
    style="max-width: 550px; min-width: 250px; max-height:none!important; margin-top: 1em; border-radius: 10px;"
  >
    </div>
  </iframe>
</div>
