<script src="https://donorbox.org/widget.js"></script>
<!-- @ts-expect-error  -->
<div class="overflow-hidden mt-md pb-0 max-w-[420px] min-w-[250px]">
  <iframe
    allowpaymentrequest=""
    height="525"
    width="100%"
    title="Support the Processing Foundation, Donorbox"
    name="donorbox"
    src="https://donorbox.org/embed/support-the-processing-foundation?hide_donation_meter=true"
    style="max-width: 420px; min-width: 250px; max-height:none !important;"
    class="rounded-lg"
  >
  </iframe>
</div>
