<script src="https://donorbox.org/widget.js"></script>
<!-- @ts-expect-error  -->
<div class="overflow-hidden mt-md pb-0 max-w-[420px] min-w-[250px]">
  <!-- @ts-expect-error  -->
  <iframe
    src="https://donorbox.org/embed/support-the-processing-foundation?hide_donation_meter=true"
    name="donorbox"
    title="Processing Foundation Donation Form"
    allowpaymentrequest="allowpaymentrequest"
    seamless="seamless"
    scrolling="no"
    height="900px"
    frameborder="0"
    width="100%"
    style="max-width: 500px; min-width: 250px; max-height:none!important"
    allow="payment"
    class="rounded-lg"
  >
  </iframe>
</div>
