---
/*
 * A component to render the output of a p5.js accessibility output. This is
 * typically rich text, but to distinguish from the body text of a page, we
 * indent it.
 */
---
<div class="m-8">
  <slot />
</div>
