---
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  getCollectionInDefaultLocale,
  removeDefaultLocalePrefix,
} from "@pages/_utils";

export async function getStaticPaths() {
  const tutorials = await getCollectionInDefaultLocale("tutorials");
  return tutorials.map((entry) => ({
    params: { slug: removeDefaultLocalePrefix(entry.slug) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  {entry.data.authors && <h6>By {entry.data.authors.join(", ")}</h6>}
  <Content />

  <h2>Related examples</h2>
  <ul>
    {/* revise when schema for examples exists */}
    {entry.data.relatedContent?.examples?.map((relEx) => <li>{relEx}</li>)}
  </ul>

  <h2>Related references</h2>
  <ul>
    {/* revise when schema for reference exists */}
    {entry.data.relatedContent?.references?.map((relRef) => <li>{relRef}</li>)}
  </ul>
</BaseLayout>
