---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const tutorials = await getCollection("tutorials");
  return tutorials.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<Content />

<h2>Related examples</h2>
<ul>
  {/* revise when schema for examples exists */}
  {entry.data.relatedExamples?.map((relEx) => <li>{relEx}</li>)}
</ul>

<h2>Related references</h2>
<ul>
  {/* revise when schema for reference exists */}
  {entry.data.relatedReferences?.map((relRef) => <li>{relRef}</li>)}
</ul>
