---
import { getCollection } from "astro:content";
import type { ReferenceDocContentItem } from "../../content/types";
const referenceEntries = await getCollection("reference");
---

<ul>
  {
    referenceEntries.map((refEntry: ReferenceDocContentItem) => (
      <li>
        <a href={`/reference/${refEntry.slug}`}>{refEntry.data.title}</a>
      </li>
    ))
  }
</ul>
