---
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  getCollectionInDefaultLocale,
  makeReferencePageSlug,
  removeDefaultLocalePrefix,
} from "@pages/_utils";
const referenceEntries = await getCollectionInDefaultLocale("reference");
---

<BaseLayout title="Reference">
  <ul>
    {
      referenceEntries.map((refEntry) => (
        <li>
          <a
            href={`/reference/${makeReferencePageSlug(removeDefaultLocalePrefix(refEntry.id))}`}
          >
            {refEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
