---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const referenceEntries = await getCollection("reference");
---

<BaseLayout title="Reference">
  <ul>
    {
      referenceEntries.map((refEntry) => (
        <li>
          <a href={`/reference/${refEntry.id.replace(/\.mdx$/, "")}`}>
            {refEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
