---
import { getCurrentLocale, useTranslations } from "@/src/i18n/utils";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<div class="border-t border-black text-blue-600 underline">
  <ul>
    <li><a href="/">{t("Home")}</a></li>
    <li><a href="/reference">{t("Reference")}</a></li>
    <li><a href="/tutorials">{t("Tutorials")}</a></li>
    <li><a href="/examples">{t("Examples")}</a></li>
    <li><a href="/contribute">{t("Contribute")}</a></li>
    <li><a href="/community">{t("Community")}</a></li>
    <li><a href="/about">{t("About")}</a></li>
    <li><a href="/donate">{t("Donate")}</a></li>
    <li><a href="/download">{t("Download")}</a></li>
    <li><a href="/contact">{t("Contact")}</a></li>
    <li><a href="/copyright">{t("Copyright")}</a></li>
    <li><a href="/privacy-policy">{t("Privacy Policy")}</a></li>
    <li><a href="/terms-of-use">{t("Terms of Use")}</a></li>
    <li><a href="https://discourse.processing.org/c/p5js">{t("Forum")}</a></li>
  </ul>
</div>
