---
import { getCurrentLocale, useTranslations } from "@/src/i18n/utils";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<footer class="border-t border-black grid-cols-2 grid text-blue-600 underline">
  <a href="/">{t("Home")}</a>
  <a href="/reference">{t("Reference")}</a>
  <a href="/tutorials">{t("Tutorials")}</a>
  <a href="/examples">{t("Examples")}</a>
  <a href="/contribute">{t("Contribute")}</a>
  <a href="/community">{t("Community")}</a>
  <a href="/about">{t("About")}</a>
  <a href="/donate">{t("Donate")}</a>
  <a href="/download">{t("Download")}</a>
  <a href="/contact">{t("Contact")}</a>
  <a href="/copyright">{t("Copyright")}</a>
  <a href="/privacy-policy">{t("Privacy Policy")}</a>
  <a href="/terms-of-use">{t("Terms of Use")}</a>
  <a href="https://discourse.processing.org/c/p5js">{t("Forum")}</a>
</footer>
