---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const examples = await getCollection("examples");
  return examples.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<code>{JSON.stringify(entry)}</code>
