---
import {
  exampleContentSlugToLegacyWebsiteSlug,
  removeLocalePrefix,
  getCollectionInDefaultLocale,
} from "@pages/_utils";
import { getExampleCode } from "@pages/_utils-node";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const examples = await getCollectionInDefaultLocale("examples");
  const paths = await Promise.all(
    examples.map(async (example) => {
      const unPrefixSlug = removeLocalePrefix(example.slug);
      const code = await getExampleCode(example.id);
      return {
        params: { slug: exampleContentSlugToLegacyWebsiteSlug(unPrefixSlug) },
        props: { example, code },
      };
    })
  );

  return paths;
}

const { example, code } = Astro.props;
const { Content } = await example.render();
---

<BaseLayout title={example.data.title}>
  <p>{example.data.arialabel}</p>
  <Content />
  <pre>{code}</pre>
</BaseLayout>
