---
import { getCollectionInDefaultLocale, transformExampleSlugs } from "../_utils";
import BaseLayout from "../../layouts/BaseLayout.astro";

// Using the transformed collection
const exampleEntries = transformExampleSlugs<"examples">(
  await getCollectionInDefaultLocale("examples"),
);
---

<BaseLayout title="Examples">
  <ul>
    {
      exampleEntries.map((exampleEntry) => (
        <li>
          <a href={`.${exampleEntry.slug}`}>{exampleEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
