---
import { getCollection } from "astro:content";
const exampleEntries = await getCollection("examples");
---

<ul>
  {
    exampleEntries.map((exampleEntry) => (
      <li>
        <a href={exampleEntry.slug}>{exampleEntry.data.title}</a>
      </li>
    ))
  }
</ul>
