---
import type { ComponentProps } from "astro/types";
import { Image } from "astro:assets";
type Props = ComponentProps<typeof Image> & {
  /** Defaults to 'photo' aspect ratio */
  aspectRatio?: "photo" | "square" | "none";
  caption?: string;
  containerClass?: string;
};
const { props } = Astro;
---

<div class={props.containerClass || "relative w-fit h-fit"}>
  <!-- The props are identical but the lack of "IntrinsicAttributes" gives an errant ts error -->
  <!-- @ts-ignore -->
  <Image
    {...props}
    class=""
    class:list={(props.class,
    {
      "object-cover": props.aspectRatio !== "none",
      "aspect-square": props.aspectRatio === "square",
      "aspect-photo":
        props.aspectRatio === "photo" || props.aspectRatio === undefined,
    })}
  />
  <p
    aria-hidden
    class="renderable-alt bg-bg-gray-40 line-clamp-3 absolute top-0 mt-sm mx-sm px-[7.5px] pb-[2.5px] rounded-xl text-body-caption text-ellipsis"
  >
    {props.alt}
  </p>
  {props.caption && <p class="text-body-caption mt-xs">{props.caption}</p>}
</div>
