---
import BaseLayout from "./BaseLayout.astro";
import { removeLocaleAndExtension } from "@pages/_utils";
import type { ArchiveCollectionEntry } from "@content/types";

interface Props {
  entries: ArchiveCollectionEntry[];
  title: string;
}

const { entries, title } = Astro.props;
---

<BaseLayout title={title} variant="item">
  <ul>
    {
      entries.map((entry) => (
        <li>
          <a href={removeLocaleAndExtension(entry.id)}>
            {removeLocaleAndExtension(entry.id)}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
