---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import { Footer } from "../components/Footer";
const { title, subHeading } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <ul>
        <a href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en", "reference")}
          >Reference</a
        >
        <a href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en", "tutorials")}
          >Tutorials</a
        >
        <a href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en", "examples")}
          >Examples</a
        >
        <a href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en", "community")}
          >Community</a
        >
        <a href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en", "about")}
          >About</a
        >
      </ul>
    </nav>
    <div class="flex space-x-2">
      <div>Search</div>
      <div>Language: {Astro.currentLocale}</div>
      <div>Accessibility</div>
    </div>
    <h1 class="text-lg font-bold">{title}</h1>
    <span>{subHeading}</span>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
