---
import LocaleSwitcher from "@components/LocaleSwitcher/index.astro";
import Footer from "@/src/components/Footer/index.astro";
import SearchForm from "@components/SearchForm/index.astro";
import { getCurrentLocale, useTranslations } from "@i18n/utils";
const { title, subHeading } = Astro.props;
const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <ul>
        <a href="/">{t("Home")}</a>
        <a href="/reference">{t("Reference")}</a>
        <a href="/tutorials">{t("Tutorials")}</a>
        <a href="/examples">{t("Examples")}</a>
        <a href="/community">{t("Community")}</a>
        <a href="/about">{t("About")}</a>
        <a href="/contribute">{t("Contribute")}</a>
      </ul>
    </nav>
    <div class="flex space-x-2">
      <LocaleSwitcher />
      <div><SearchForm /></div>
      <div>Language: {currentLocale}</div>
      <div>Accessibility</div>
    </div>
    <h1 class="text-lg font-bold">{title}</h1>
    <span>{subHeading}</span>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
