---
import { LocaleSwitcher } from "@components/LocaleSwitcher";
import { Footer } from "@components/Footer";
import SearchForm from "@components/SearchForm/index.astro";
const { title, subHeading } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <ul>
        <a href="/reference">Reference</a>
        <a href="/tutorials">Tutorials</a>
        <a href="/examples">Examples</a>
        <a href="/community">Community</a>
        <a href="/about">About</a>
      </ul>
    </nav>
    <div class="flex space-x-2">
      <div>Search</div>
      <LocaleSwitcher client:only="preact" />
      <div><SearchForm /></div>
      <div>Language: {Astro.currentLocale}</div>
      <div>Accessibility</div>
    </div>
    <h1 class="text-lg font-bold">{title}</h1>
    <span>{subHeading}</span>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
