---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  entry: CollectionEntry<"contributor-docs">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} variant="item">
  <div class="rendered-markdown">
    <Content />
  </div>
</BaseLayout>
