---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { removeLocaleAndExtension } from "../pages/_utils";

type ContributeEntry = CollectionEntry<"contributor-docs">;

const { entries } = Astro.props;
---

<BaseLayout title="Contribute">
  <ul>
    {
      entries.map((entry: ContributeEntry) => (
        <li>
          <a href={`/contribute/${removeLocaleAndExtension(entry.slug)}`}>
            {removeLocaleAndExtension(entry.slug)}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
