---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type ContributeEntry = CollectionEntry<"contributor-docs">;

const { entries } = Astro.props;
---

<BaseLayout title="Contribute">
  <ul>
    {
      entries.map((entry: ContributeEntry) => (
        <li>
          <a href={`/contribute/${entry.slug}`}>{entry.slug}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
