---
import BaseLayout from "./BaseLayout.astro";
import type { ExampleDocContentItem } from "../content/types";

const { exampleEntries } = Astro.props;
---

<BaseLayout title="Examples">
  <ul>
    {
      exampleEntries.map((exampleEntry: ExampleDocContentItem) => (
        <li>
          <a href={`${exampleEntry.slug}`}>{exampleEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
