---
import BaseLayout from "./BaseLayout.astro";
import type { ExampleDocContentItem } from "../content/types";

const { exampleEntries } = Astro.props;
---

<BaseLayout title="Examples">
  <div class="content-grid">
    {
      exampleEntries.map((exampleEntry: ExampleDocContentItem) => (
        <div class="col-span-3 w-full overflow-hidden">
          <!-- placeholder for thumbnail -->
          <div class="aspect-square border border-sidebar-type-color w-full"/>
          <a href={`/examples/${exampleEntry.slug}`}>
            {exampleEntry.data.title}
          </a>
        </div>
      ))
    }
  </div>
</BaseLayout>
