---
import BaseLayout from "./BaseLayout.astro";

const { example, code } = Astro.props;
const { Content } = await example.render();
---

<BaseLayout title={example.data.title} variant="item">
  <p>{example.data.arialabel}</p>
  <Content />
  <pre>{code}</pre>
</BaseLayout>
