---
import BaseLayout from "./BaseLayout.astro";

const { exampleEntries } = Astro.props;
---

<BaseLayout title="Examples">
  <ul>
    {
      exampleEntries.map((exampleEntry) => (
        <li>
          <a href={`${exampleEntry.slug}`}>{exampleEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
