---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import GridItemLibrary from "@components/GridItem/Library.astro";
import { setJumpToState } from "../globals/state";

interface Props {
  entries: CollectionEntry<"libraries">[];
  title: string;
}

const { entries } = Astro.props;

setJumpToState(null);
---

<BaseLayout title="Libraries">
  <ul class="grid grid-cols-2 gap-y-xl gap-x-md lg:grid-cols-4">
    {
      entries.map((lib) => (
        <li>
          <GridItemLibrary item={lib} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
