---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"past-events">;
  title: string;
}

const { entry, title } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={title} variant="secondary">
  {
    entry.data.featuredImage && entry.data.featuredImageAlt && (
      <Image src={entry.data.featuredImage} alt={entry.data.featuredImageAlt} />
    )
  }
  <Content />

  <h2>Related Past Events</h2>

  <ul>
    {/* TODO: make this into a proper link */}
    {entry.data.relatedPastEvents?.map((relEx) => <li>{relEx.slug}</li>)}
  </ul>
</BaseLayout>
