---
import Image from "@components/Image/index.astro";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  entries: CollectionEntry<"people">[];
  title: string;
}

const { entries, title } = Astro.props;
---

<BaseLayout title={title} variant="item">
  <ul>
    {
      entries.map((person) => (
        <li>
          <Image src={person.data.image} alt={person.data.imageAlt} />
          {person.data.name}
        </li>
      ))
    }
  </ul>
</BaseLayout>
