---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { removeLocaleAndExtension } from "@pages/_utils";

type ReferenceEntry = CollectionEntry<"reference">;

interface Props {
  title: string;
  entries: ReferenceEntry[];
}

const { entries } = Astro.props;
---

<BaseLayout title="Reference">
  <div class="content-grid">
    {
      entries.map((refEntry) => (
        <div class="col-span-3 w-full overflow-hidden">
          <a href={`/reference/${removeLocaleAndExtension(refEntry.id)}`}>
            {refEntry.data.title}
          </a>
        </div>
      ))
    }
  </div>
</BaseLayout>
