---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import RootPageHeader from "@components/RootPageHeader/index.astro";
import { removeLocaleAndExtension } from "@pages/_utils";
import { useTranslations } from "../i18n/utils";

type ReferenceEntry = CollectionEntry<"reference">;

interface Props {
  title: string;
  entries: ReferenceEntry[];
}

const { entries, title } = Astro.props;
---

<BaseLayout title="Reference">
  <ul>
    {
      entries.map((refEntry) => (
        <li>
          <a href={`/reference/${removeLocaleAndExtension(refEntry.id)}`}>
            {refEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
