---
import SearchProvider from "@components/SearchProvider";
import Head from "@components/Head/index.astro";
import { getCurrentLocale, getUiTranslationWithFallback } from "@i18n/utils";
import BaseLayout from "./BaseLayout.astro";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const { title } = Astro.props;
const uiTranslations = await getUiTranslationWithFallback(currentLocale);
Astro.locals.jumpToState = null;
---

<Head title={"Search"} locale={currentLocale} />

<BaseLayout title={title} variant="search">
  <h1 class="sr-only">Search Results</h1>
  <SearchProvider
    client:only
    currentLocale={currentLocale}
    uiTranslations={uiTranslations}
  />
</BaseLayout>