---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Image from "@components/Image/index.astro";

type TutorialEntry = CollectionEntry<"tutorials">;

const { entries } = Astro.props;
---

<BaseLayout title="Tutorials">
  <ul>
    {
      entries.map((entry: TutorialEntry) => (
        <li>
          <a href={`/tutorials/${entry.slug}`}>
            {" "}
            {entry.data.featuredImageAlt && entry.data.featuredImage && (
              <Image
                src={entry.data.featuredImage}
                alt={entry.data.featuredImageAlt}
                width={200}
                height={200}
              />
            )}
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
