---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type TutorialEntry = CollectionEntry<"tutorials">;

const { entries } = Astro.props;
---

<BaseLayout title="Tutorials">
  <ul>
    {
      entries.map((entry: TutorialEntry) => (
        <li>
          <a href={`${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
