.cm-editor {
  background-color: var(--bg-gray-40);
  padding: var(--spacing-sm);
  .dark-theme & {
    background-color: #DDD;
    color: black;
  }
}

.dark-theme .code-editor-container {
  filter: invert(100%);
  & .circle-button {
    filter: invert(100%);
  }
}

.cm-editor * {
  font-family: var(--font-serif), monospace;
}

.cm-scroller,
.cm-editor {
  border-radius: 20px;
}

.cm-focused {
  outline-offset: -1px;
}
