.cm-editor {
  background-color: var(--bg-gray-40);
  padding: var(--spacing-sm);
}

.cm-editor * {
  font-family: var(--font-serif), monospace;
}

.cm-scroller,
.cm-editor {
  border-radius: 20px;
}

.cm-focused {
  outline-offset: -1px;
}
