@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;

  src: url("/fonts/NationalPark-Bold.woff2") format("woff2");
  font-weight: 700;

  src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
  font-weight: 800;

  src: url("/fonts/NationalPark-Medium.woff2") format("woff2");
  font-weight: 500;

  src: url("/fonts/NationalPark-SemiBold.woff2") format("woff2");
  font-weight: 600;

  src: url("/fonts/NationalPark-Light.woff2") format("woff2");
  font-weight: 300;

  src: url("/fonts/NationalPark-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.25px;
  font-family: var(--font-sans);
  margin-bottom: var(--spacing-md);
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.2px;
  font-family: var(--font-sans);
}

h3 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.2px;
  font-family: var(--font-sans);
}

.text-body-large {
  font-size: 1.5rem;
  line-height: 1.167;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.15px;
  font-family: var(--font-sans);
}

.text-body-mono {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.1px;
  font-family: var(--font-serif);
}

.text-body {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.15px;
  font-family: var(--font-sans);
}

.text-body-caption {
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.1px;
  font-family: var(--font-sans);
}

body {
  background-color: var(--bg-color);
  color: var(--type-color);
  -webkit-text-stroke-color: var(--type-color);
  @extend .text-body;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-type-color);
  -webkit-text-stroke-color: var(--sidebar-type-color);
}
