@import "variables.scss";

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;

  src: url("/fonts/NationalPark-Bold.woff2") format("woff2");
  font-weight: 700;

  src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
  font-weight: 800;

  src: url("/fonts/NationalPark-Medium.woff2") format("woff2");
  font-weight: 500;

  src: url("/fonts/NationalPark-SemiBold.woff2") format("woff2");
  font-weight: 600;

  src: url("/fonts/NationalPark-Light.woff2") format("woff2");
  font-weight: 300;

  src: url("/fonts/NationalPark-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.2px;
  margin-bottom: var(--spacing-md);
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 4rem;
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.25px;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.2px;
  font-family: var(--font-sans);
  margin-top: var(--spacing-md);

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.2px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.167;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.15px;
  font-family: var(--font-sans);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);

  @media (min-width: $breakpoint-tablet) {
    font-size: 2rem;
    line-height: 1.125;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.2px;
  }
}

.text-body-large {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.1px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
    line-height: 1.167;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.15px;
  }
}

.text-body-mono {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.05px;
  font-family: var(--font-serif);

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.1px;
  }
}

.text-body {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.05px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.15px;
  }
}

.text-body-caption {
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 1.25%;
  -webkit-text-stroke-width: 0.05px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 0.875rem;
    line-height: 1.42;
    letter-spacing: 1.25%;
    -webkit-text-stroke-width: 0.1px;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--type-color);
  -webkit-text-stroke-color: var(--type-color);
  @extend .text-body;
}

p {
  margin-top: var(--spacing-md);
}

a {
  &:hover {
    text-decoration: underline;
  }
}

code {
  @extend .text-body-mono;
  font-size: inherit;
  background-color: var(--bg-gray-80);
  border-radius: 20px;
  padding: 0 var(--spacing-xxs);
}

hr {
  border-top: 1px solid var(--type-color);
}

.astro-code {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.astro-code code,
.code-box code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.astro-code,
.code-box {
  background-color: var(--bg-gray-40);
  padding: var(--spacing-sm);
  max-width: 100%;
  overflow-x: auto;
  white-space: break-spaces;

  border-radius: 20px;
  @media (max-width: $breakpoint-tablet) {
    border-radius: 10px;
  }
}

.callout {
  padding: var(--spacing-sm);
  border-radius: 20px;
  background-color: var(--bg-magenta-20);
  margin-bottom: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.callout h5 {
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}

.callout.callout-note {
  background-color: var(--bg-blue);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-type-color);
  -webkit-text-stroke-color: var(--sidebar-type-color);
}

.top-layout-grid {
  --nav-width: 100vw;
  --nav-offset-x: 0;
  --nav-height: 80px;
  --nav-position: relative;

  @media (min-width: $breakpoint-tablet) {
    --nav-width: 200px;
    --nav-offset-x: var(--nav-width);
    --nav-height: 100vh;
    --nav-position: fixed;
  }

  nav {
    height: var(--nav-height);
    position: var(--nav-position);
    width: var(--nav-width);
    top: 0;
  }

  .settings,
  header,
  main {
    margin-left: var(--nav-offset-x);
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }
}

.monochrome-theme {
  img {
    filter: grayscale(100%);
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 40px;

  @media (min-width: $breakpoint-laptop) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

td,
th {
  padding: var(--spacing-xs);
}
