@import "variables.scss";

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

/** TYPOGRAPHY **/

h1,
h2,
h3,
h4,
.text-body-large,
.text-body-mono,
.text-body,
.text-body-caption {
  letter-spacing: 0.0125rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  -webkit-text-stroke-width: 0.2px;
  margin-bottom: var(--spacing-md);
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 4rem;
    font-size: 3.5rem;
    line-height: 1;
    -webkit-text-stroke-width: 0.25px;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
  -webkit-text-stroke-width: 0.2px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.5rem;
    line-height: 1.1;
    -webkit-text-stroke-width: 0.2px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.167;
  -webkit-text-stroke-width: 0.15px;
  font-family: var(--font-sans);
  margin-bottom: var(--spacing-md);

  @media (min-width: $breakpoint-tablet) {
    font-size: 2rem;
    line-height: 1.125;
    -webkit-text-stroke-width: 0.2px;
  }
}

.text-body-large {
  font-size: 1.25rem;
  line-height: 1.2;
  -webkit-text-stroke-width: 0.1px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
    line-height: 1.167;
    -webkit-text-stroke-width: 0.15px;
  }
}

.text-body-mono {
  font-size: 1rem;
  line-height: 1.25;
  -webkit-text-stroke-width: 0.05px;
  font-family: var(--font-serif);

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
    line-height: 1.2;
    -webkit-text-stroke-width: 0.1px;
  }
}

.text-body {
  font-size: 1rem;
  line-height: 1.25;
  -webkit-text-stroke-width: 0.05px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
    line-height: 1.2;
    -webkit-text-stroke-width: 0.15px;
  }
}

.text-body-caption {
  font-size: 0.75rem;
  line-height: 1.33;
  -webkit-text-stroke-width: 0.05px;
  font-family: var(--font-sans);

  @media (min-width: $breakpoint-tablet) {
    font-size: 0.875rem;
    line-height: 1.42;
    -webkit-text-stroke-width: 0.1px;
  }
}

/** BASE ELEMENTS **/

body {
  background-color: var(--bg-color);
  color: var(--type-color);
  -webkit-text-stroke-color: var(--type-color);
  @extend .text-body;
  font-weight: 400;
}

p {
  margin-top: 1.25rem;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

code {
  @extend .text-body-mono;
  font-size: inherit;
  background-color: var(--bg-gray-80);
  border-radius: 20px;
  padding: 0 var(--spacing-xxs);
}

.astro-code {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.astro-code code,
.code-box code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.astro-code,
.code-box {
  background-color: var(--bg-gray-40);
  padding: var(--spacing-sm);
  max-width: 100%;
  overflow-x: auto;
  white-space: break-spaces;

  border-radius: 20px;
}

.callout {
  padding: var(--spacing-sm);
  border-radius: 20px;
  background-color: var(--bg-magenta-20);
  margin-bottom: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.callout h5 {
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}

.callout.callout-note {
  background-color: var(--bg-blue);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-type-color);
  -webkit-text-stroke-color: var(--sidebar-type-color);
}

/** LAYOUT **/

.top-layout-grid {
  --nav-width: 100vw;
  --nav-offset-x: 0;

  @media (min-width: $breakpoint-tablet) {
    --nav-width: 200px;
    --nav-offset-x: var(--nav-width);
  }

  nav {
    width: var(--nav-width);
    top: 0;

    @media (min-width: $breakpoint-tablet) {
      height: 100vh;
    }
  }

  .settings,
  header,
  main {
    margin-left: var(--nav-offset-x);
  }

  header {
    grid-area: header;
    @media (min-width: $breakpoint-tablet) {
      margin-top: 0;
    }
  }

  main {
    grid-area: main;
  }
}

.monochrome-theme {
  img {
    filter: grayscale(100%);
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 40px;

  @media (min-width: $breakpoint-laptop) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

td,
th {
  padding: var(--spacing-xs);
}

/** SPECIAL ELEMENTS **/

.renderable-alt {
  display: none;
}

.show-alt-text .renderable-alt {
  display: -webkit-box; // Needs webkit box to support line-clamp
}

.skip-to-main {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-to-main:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  z-index: 1000;
  background: #fff;
  padding: 10px;
  border: 2px solid #000;
}
