// Default styles to apply to markdown generated content

@import "variables.scss";

.rendered-markdown {
  margin-bottom: var(--spacing-xl);

  a {
    color: var(--logo-color);
  }

  a.button-link {
    color: var(--sidebar-type-color);
    &:hover {
      color: var(--sidebar-bg-color);
    }
  }

  h1 {
    margin-top: var(--spacing-md);
  }

  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: var(--spacing-md);
    margin: var(--spacing-sm) 0;
    // nested lists don't have vertical gaps
    ul,
    ol {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  pre {
    margin: var(--spacing-sm) 0;
    padding: var(--spacing-sm);
  }

  hr {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
  table {
    margin: var(--spacing-md) 0;
  }
}
