// Default styles to apply to markdown generated content

@import "variables.scss";

.rendered-markdown {
  margin-bottom: var(--spacing-xl);

  h1 {
    margin-top: var(--spacing-md);
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
    margin: var(--spacing-sm) 0;
  }
  ol {
    list-style: decimal;
  }
  // nested lists don't have vertical gaps
  ul,
  ol {
    ul,
    ol {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  pre {
    margin: var(--spacing-sm) 0;
    padding: var(--spacing-sm);
  }

  hr {
    margin: var(--spacing-md) 0;
  }
  table {
    margin: var(--spacing-md) 0;
  }
}
