// Default styles to apply to markdown generated content

@import "variables.scss";

.rendered-markdown {
  @apply max-w-screen-md;
  margin-bottom: var(--spacing-xl);

  a {
    color: var(--type-magenta-dark);
  }

  a.button-link {
    @apply my-md min-w-[180px] md:min-w-[220px];
    color: var(--sidebar-type-color);
    &:hover {
      color: var(--sidebar-bg-color);
    }
  }

  h1 {
    margin-top: var(--spacing-md);
  }

  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: var(--spacing-md);
    margin: var(--spacing-sm) 0;
    // nested lists don't have vertical gaps
    ul,
    ol {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  pre {
    margin: var(--spacing-sm) 0;
    padding: var(--spacing-sm);
  }

  hr {
    margin-top: var(--spacing-xl);
  }
  table {
    margin: var(--spacing-md) 0;
  }

  hr + h2,
  hr + h3,
  hr + h4,
  hr + h5,
  hr + h6 {
    margin-top: var(--spacing-sm);
  }
  hr + * {
    margin-top: var(--spacing-xl);
  }
  img,
  iframe {
    margin-top: var(--spacing-md);
  }
}
