// Media query breakpoints
// Intentionally defined as SCSS variables as CSS variables are not supported by media queries.
// These are mirrored in Tailwind.
$breakpoint-tablet: 767px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;

:root {
  --font-sans: "National Park", sans-serif;
  --font-serif: "Courier", serif;

  /* Background Colors */
  --bg-yellow: #dfed33;
  --bg-taupe: #b2b19d;
  --bg-orange: #f56a3a;
  --bg-magenta-70: #f1678e;
  --bg-magenta-20: #f9b2c6;
  --bg-green: #47b28f;
  --bg-blue: #dbe3f5;
  --bg-white: #ffffff;
  --bg-black: #000000;
  --bg-gray-40: #f7f7f7;
  --bg-gray-80: #eaeaea;

  /* Type Colors */
  --type-black: #000000;
  --type-white: #ffffff;
  --type-magenta: #eb285f;
  --type-blue: #1b9ad1;
  --type-gray: #545454;

  /* Theme Colors */
  --bg-color: var(--bg-white);
  --type-color: var(--type-black);
  --sidebar-bg-color: var(--bg-white);
  --sidebar-type-color: var(--type-black);
  --accent-color: var(--bg-magenta-70);
  --accent-type-color: var(--type-black);

  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 5rem;
  --spacing-4xl: 6rem;
}

.home {
  --accent-color: var(--bg-magenta-70);
}

.reference {
  --accent-color: var(--bg-yellow);
}

.tutorials {
  --accent-color: var(--bg-taupe);
}

.examples {
  --accent-color: var(--bg-orange);
}

.contribute {
  --accent-color: var(--bg-blue);
}

.community {
  --accent-color: var(--bg-green);
}

.about {
  --accent-color: var(--bg-magenta-20);
}

.search,
.text-detail {
  --accent-color: var(--bg-magenta-70);
}

.light-theme {
  --bg-color: var(--bg-white);
  --type-color: var(--type-black);

  --sidebar-bg-color: var(--bg-white);
  --sidebar-type-color: var(--type-black);

  --accent-type-color: var(--type-black);
}

.monochrome-theme {
  --bg-color: var(--bg-white);
  --type-color: var(--type-black);

  --sidebar-bg-color: var(--bg-white);
  --sidebar-type-color: var(--type-black);

  --accent-color: var(--bg-black);
  --accent-type-color: var(--type-white);
}

.dark-theme {
  --bg-color: var(--bg-black);
  --type-color: var(--accent-color);

  --sidebar-bg-color: var(--bg-black);
  --sidebar-type-color: var(--accent-color);

  --accent-type-color: var(--type-black);
}

.monochrome-theme.dark-theme {
  --body-color: var(--bg-black);
  --type-color: var(--type-white);

  --sidebar-bg-color: var(--bg-white);
  --sidebar-type-color: var(--type-white);

  --accent-color: var(--bg-white);
  --accent-type-color: var(--type-black);
}
