---
import { getCurrentLocale, useTranslations } from "@/src/i18n/utils";

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<nav class="border-r border-sidebar-type-color">
  <ul>
    <li class="inline-block md:block"><a href="/">{t("Home")}</a></li>
    <li class="inline-block md:block">
      <a href="/reference">{t("Reference")}</a>
    </li>
    <li class="inline-block md:block">
      <a href="/tutorials">{t("Tutorials")}</a>
    </li>
    <li class="inline-block md:block">
      <a href="/examples">{t("Examples")}</a>
    </li>
    <li class="inline-block md:block">
      <a href="/community">{t("Community")}</a>
    </li>
    <li class="inline-block md:block"><a href="/about">{t("About")}</a></li>
    <li class="inline-block md:block">
      <a href="/contribute">{t("Contribute")}</a>
    </li>
  </ul>
</nav>
