@import "/styles/variables.scss";

.container {
  border-right-width: 1px;
  border-color: var(--sidebar-type-color);
  display: flex;
  flex-direction: column;
}

.mainlinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex-grow: 0;
  height: 85px;
  overflow: hidden;
  .logo {
    display: flex;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
    a {
      width: 140px;
    }

    .toggle {
      margin-right: -10px;
    }
  }

  ul {
    padding: var(--spacing-sm) var(--spacing-md);
    &:nth-child(1) {
      padding-bottom: var(--spacing-xxs);
    }
    &:nth-child(2) {
      padding-top: var(--spacing-xxs);
    }
  }
}

.jumpto {
  border-color: var(--sidebar-type-color);
  border-top-width: 1px;
  animation: height 0.3s ease-in-out;
  flex-grow: 0;
  ul {
    padding: var(--spacing-sm) var(--spacing-md);
  }

  .toggle {
    width: 100%;
  }

  @media (min-width: $breakpoint-tablet) {
    height: 65px;
    overflow: hidden;
  }
}

.buttonlink {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 9999px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid var(--sidebar-type-color);
}

/* Interaction */

.jumpto:global(.open) {
  height: unset;
  flex-grow: 1;
}

.mainlinks:global(.open) {
  height: unset;
  min-height: 350px;
  flex-grow: 1;
}
