@import "/styles/variables.scss";

.container {
  height: fit-content;

  @media (min-width: $breakpoint-tablet) {
    position: fixed;
    border-right-width: 1px;
    border-color: var(--sidebar-type-color);
    display: flex;
    flex-direction: column;
  }
}

.mainlinks {
  height: calc(var(--nav-height) / 2);
  overflow: hidden;
  padding: var(--spacing-xs) 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 43px;
  border-color: var(--sidebar-type-color);
  border-bottom-width: 1px;
  max-height: calc(50vh - 1px);

  &:global(.noJumpTo) {
    max-height: unset;
  }

  .logo {
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    padding: var(--spacing-xs) 0;
  }

  &:global(.open) {
    height: unset;
  }

  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    width: 100%;
    justify-content: space-between;
    flex-grow: 0;
    height: 80px;
    padding: 1.25rem 1.25rem var(--spacing-xs);
    overflow: hidden;
    border-bottom-width: 0;

    .logo {
      height: 50px;
      display: flex;
      gap: var(--spacing-xs);
      padding: 0;
      margin-bottom: var(--spacing-xs);
    }

    ul {
      &:nth-child(2) {
        grid-column: 1 / 2;
        padding-bottom: var(--spacing-xxs);
      }
      &:nth-child(3) {
        grid-column: 1 / 2;
        padding-top: var(--spacing-xxs);
      }
    }

    &:global(.open),
    &:global(.noJumpTo) {
      grid-template-rows: min-content 2fr;
      min-height: 350px;
      height: 100%;
      padding: 1.25rem 1.25rem var(--spacing-xs);
    }
  }

  .mobileMenuLabel {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -0.25rem;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
    @media (min-width: $breakpoint-tablet) {
      display: none !important;
    }
  }
  .desktopMenuLabel {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
  }

  &:global(.noJumpTo) {
    .mobileMenuLabel {
      display: flex;
    }
    .desktopMenuLabel {
      @media (min-width: $breakpoint-tablet) {
        display: none;
      }
    }
  }
}

.jumpto {
  border-color: var(--sidebar-type-color);

  animation: height 0.3s ease-in-out;
  flex-grow: 0;
  border-bottom-width: 1px;
  height: 40px;

  /* Hide scrollbar */
  // Chrome, Safari, Edge, Opera
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Ensure the scrollbar is completely invisible */
  }
  // Firefox
  -ms-overflow-styles: none;
  scrollbar-width: none;

  ul {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing-sm) 1.25rem;

    /* Hide scrollbar */
    // Chrome, Safari, Edge, Opera
    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Ensure the scrollbar is completely invisible */
    }
    // Firefox
    -ms-overflow-styles: none;
    scrollbar-width: none;

    li {
      padding-bottom: var(--spacing-xxs);
    }
  }

  .toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-xs) 1.25rem;
  }

  @media (min-width: $breakpoint-tablet) {
    height: 80px;
    border-top-width: 1px;

    &:global(.open) {
      height: 100%;
      overflow-y: scroll;
    }
    ul {
      padding-bottom: var(--spacing-md);
      display: inline-block;
    }
  }
}

.buttonlink {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 9999px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid var(--sidebar-type-color);
  &:hover {
    background-color: var(--sidebar-type-color);
    color: var(--sidebar-bg-color);
    text-decoration: none;
  }
}

/* Interaction */

.jumpto:global(.open) {
  flex-grow: 1;
  height: unset;

  @media (min-width: $breakpoint-tablet) {
    height: 100%;
    overflow-y: scroll;

    ul {
      display: inline-block;
    }
  }
}
