---
import { AccessibilitySettings } from "@components/AccessibilitySettings/";
import SearchForm from "@components/SearchForm/index.astro";
import LocaleSwitcher from "@components/LocaleSwitcher/index.astro";
---

<div
  class="settings flex flex-col md:flex-row gap-sm items-center space-x-2 md:p-sm [&>*]:px-sm md:fixed w-full z-10 top-0"
>
  <LocaleSwitcher />
  <SearchForm />
  <AccessibilitySettings client:only />
</div>
