@import "/styles/variables.scss";

.container {
  position: absolute;
  display: grid;
  width: calc(100vw - 215px);
  z-index: 9998;

  padding: var(--spacing-sm) var(--spacing-lg);
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(2, var(--settings-container-height-touch));
  gap: 20px;

  @media (min-width: $breakpoint-laptop) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
    gap: 40px;
    grid-template-rows: var(--settings-container-height-laptop);
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.localeselect,
.a11yselect {
  grid-column: span 3;
  @media (min-width: $breakpoint-tablet) {
    grid-column: span 3;
  }
  @media (min-width: $breakpoint-laptop) {
    grid-column: span 3;
  }
}

.searchform {
  grid-column: span 6;

  @media (min-width: $breakpoint-tablet) {
    grid-row: 1;
    grid-column: span 6;
  }

  @media (min-width: $breakpoint-laptop) {
    grid-row: unset;
    grid-column: span 3;
  }

  @media (min-width: $breakpoint-desktop) {
    grid-column: span 6;
  }
}

// Hitbox for hover interaction
.hitbox {
  width: 100%;
  height: 20px;
  position: fixed;
  z-index: 9999;
}

.placeholder {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 9999;
}

.container:global(.scrolled-outside-view) {
  position: fixed;
  top: -60px;
  transition:
    top 0.3s,
    position 0.3s;
}

.container:global(.open) {
  top: 0;
}
