---
const pathname = Astro.url.pathname;

const splitPathname = pathname.split("/");
const topic = splitPathname[1];

const { title } = Astro.props;
---

<div class="p-md pt-2xl pb-0">
  <div class="[&>*]:pr-sm pb-xs">
    <a href=`/${topic}` class="capitalize">{topic}</a>
    <span>{">"}</span>
    <span>{title}</span>
  </div>
  <h1 class="whitespace-pre-line">{title}</h1>
</div>
