---
import { Icon } from "@components/Icon"
const { entry } = Astro.props;
const { Content } = await entry.render();
const { link, title } = entry.data;
---

<div class="banner bg-accent-color" style={{ display: 'none' }} data-title={title}>
  <a class="banner-content" href={link} target="_blank">
    <Content />
  </a>
  <button id="hideBanner"><Icon kind="close"></button>
</div>

<script>
const banner = document.querySelector('.banner');
const hiddenBanner = window.localStorage.getItem('hideBanner');
const title = banner.getAttribute('data-title');
if (hiddenBanner !== title) {
  banner.removeAttribute('style');
}
const hideBanner = () => {
  banner.setAttribute('style', 'display: none');
  try {
    window.localStorage.setItem('hideBanner', title);
  } catch (e) {
    console.error(e);
  }
}
document.querySelector('#hideBanner').addEventListener('click', hideBanner);
</script>
